/*Text Styles*/
#banner-h2 {
  text-align: center;
  font-size: 8em;
  color: pink;
}

#banner-h3 {
  text-align: center;
  font-size: 4em;
  color: pink;
}

#pig-word {
  font-size: 6em;
  text-align: center;
  color: pink;
}

/*Button Styles*/
#form-submit-btn {
  margin-top: 15px;
  margin-left: 550px;
}

#submit-button-text {
  font-size: 2em;
  color: pink;
}
